
.icon-attachment:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-play-button:before { content: '\e802'; } /* '' */
.icon-file:before { content: '\e803'; } /* '' */
.icon-ios-add-circle-outline:before { content: '\e804'; } /* '' */
.icon-ios-add-circle:before { content: '\e805'; } /* '' */
.icon-ios-arrow-back:before { content: '\e806'; } /* '' */
.icon-ios-arrow-down:before { content: '\e807'; } /* '' */
.icon-ios-arrow-forward:before { content: '\e808'; } /* '' */
.icon-ios-briefcase:before { content: '\e809'; } /* '' */
.icon-ios-calendar:before { content: '\e80a'; } /* '' */
.icon-ios-chatboxes:before { content: '\e80b'; } /* '' */
.icon-ios-checkbox-standard:before { content: '\e80c'; } /* '' */
.icon-ios-checkmark-circle:before { content: '\e80d'; } /* '' */
.icon-ios-checkmark:before { content: '\e80e'; } /* '' */
.icon-ios-close-circle:before { content: '\e80f'; } /* '' */
.icon-ios-create:before { content: '\e810'; } /* '' */
.icon-ios-heart-empty:before { content: '\e811'; } /* '' */
.icon-ios-heart:before { content: '\e812'; } /* '' */
.icon-ios-information-circle:before { content: '\e813'; } /* '' */
.icon-ios-lock:before { content: '\e814'; } /* '' */
.icon-ios-mail:before { content: '\e815'; } /* '' */
.icon-ios-more:before { content: '\e816'; } /* '' */
.icon-ios-options:before { content: '\e817'; } /* '' */
.icon-ios-paper:before { content: '\e818'; } /* '' */
.icon-ios-people:before { content: '\e819'; } /* '' */
.icon-ios-pricetag:before { content: '\e81a'; } /* '' */
.icon-ios-search:before { content: '\e81b'; } /* '' */
.icon-ios-settings:before { content: '\e81c'; } /* '' */
.icon-ios-star-half:before { content: '\e81d'; } /* '' */
.icon-ios-star-outline:before { content: '\e81e'; } /* '' */
.icon-ios-star:before { content: '\e81f'; } /* '' */
.icon-logo-facebook:before { content: '\e820'; } /* '' */
.icon-logo-instagram:before { content: '\e821'; } /* '' */
.icon-logo-twitter:before { content: '\e822'; } /* '' */
.icon-md-apps:before { content: '\e823'; } /* '' */
.icon-md-more:before { content: '\e824'; } /* '' */
.icon-picture-1:before { content: '\e825'; } /* '' */
.icon-ios-log-out:before { content: '\e826'; } /* '' */
.icon-ios-hand:before { content: '\e827'; } /* '' */
.icon-user:before { content: '\e828'; } /* '' */